body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../img/curvas.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right bottom;
}


p {
  font-size: 21px;
}
img {
  opacity: 0.5;
}
